@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
/*START LANDING PAGE*/


/*Loading.IO assets:

https://loading.io/asset/630074

*/

html {
  scroll-behavior: smooth;
}

#projects > h2 {
  margin: 1em auto 0;
  color: white;
  text-align: center;
  width: 100%;
}

.project-container {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5%;
  gap: 4em;
}


.project-item {
  transition: .25s ease-in-out;
  height: auto;
  width: 45em;
  background-color: white;
  border-radius: 0.5em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  contain: content;
  text-decoration: none !important;
}

.project-item:hover {
  transform: scale(1.05);
}

.project-item > * {
  width: 100%;
  height: 100%;
  text-decoration: none !important;
}

.project-item > div {
  padding: 2%;
}

.project-item > div > h2{
  text-decoration: none;
  font-size: 1.25em;
  font-weight: bold;
  color: rgb(92, 92, 92) !important;
}

.project-item > div > p{
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  color: rgb(134, 134, 134) !important;
}

#landing {
    background-image: linear-gradient(rgb(236, 236, 236), rgb(238, 238, 238));
    background-size: cover;
    height: 80vh;
    width: 100%;
    display: flex;
    position: relative;
}

.landingGrid {
  /* background-image: url(../Images/Backgrounds/Wave-16.7s-1920px.svg);
  background-size: cover; */
    text-align: left !important;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.landingGrid > img {
  height: 50%;
  width: auto;
}

.name {
  text-align: left;
    width: 50%;
    grid-area: name;
    font-family: 'Changa One';
    color: black;
    margin: auto;
}

/*END LANDING PAGE*/

/*ABOUT PAGE*/
#about {
  background-image: linear-gradient(to top, white, lightgrey);

  height: 100vh;
  width: 100%;
}

.aboutGrid {
  background-image: url(../Images/Backgrounds/Wave-16.7s-1920px\ \(UpsideDown\).svg);
  background-size: cover;

  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "selfPicture selfDescrip";
}

.selfPicture {
  transition: all ease-in-out .25s;
  grid-area: selfPicture;
  margin: auto 0 auto auto;
  border-radius: 20px;
  box-shadow: 10px 10px 19px -6px rgba(0,0,0,0.42);

  width: 50%;
}


.selfDescrip {
  grid-area: selfDescrip;
  margin: auto; 

  color: black;
  font-weight: 300;
  font-size: 2em;
  padding-right: 10%;
}


/*START SKILLS PAGE*/

#skills {
    background-image: linear-gradient(to top, white, lightgrey);
    height: 100vh;
    width: 100%;
}

.skillsGrid {
  background-color: bisque;
  box-shadow: inset 0px 0px 50px -24px rgba(0,0,0,0.42);

  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "skill1 skill2 skill3";
}

.skill1 {
  grid-area: skill1;
}

.skill2 {
  grid-area: skill2;
}

.skill3 {
  grid-area: skill3;
}

.skillsCard {
  
  all: unset;
  transition: all ease-in-out .25s;

  margin: 25% 10% 10%;
  padding: 10%;
  height: 65vh;
  box-shadow: 10px 10px 19px -6px rgba(0,0,0,0.42);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, .75);
  content: contain;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    ". skillIcon ."
    "skillTitle skillTitle skillTitle"
    "skillDescription skillDescription skillDescription";
}

.skillsCard:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.skillIcon {
  grid-area: skillIcon;
  width: 15em;
}


.skillTitle {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, .75);
  grid-area: skillTitle;
  font-size: 3em;
  color: white;
  text-align: center;
}

.skillDescription {
  grid-area: skillDescription;
  font-size: 1em;
  color: white;
  text-align: center;
}



/*END SKILLS PAGE*/


/*START PORJECTS PAGE*/

#projects {
    display: flex;
     flex-direction: column;
    height: auto;
    width: 100%;
    background-color: rgb(24, 24, 24);
}

.projectsGrid {
  position: relative;
  box-shadow: inset 0px 0px 50px -24px rgba(0,0,0,0.42);

  all: unset;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 10%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "p1 p2 p3"
    "p4 p5 p6";
}


.pCard {
  all: unset;
  display: block;
  width: auto;
  height: auto;
  margin: 10%;
}

.flip-card {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  transition: all ease-in-out .75s;
  transform-style: preserve-3d;
}

.pCard:hover .flip-card {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 10px 10px 19px -6px rgba(0,0,0,0.42);

  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: beige;
  color: white;
  text-align: center;

}

.flip-card-back {
  transform: rotateY(180deg);

  background-color: rgba(0, 0, 0, .75);
  color: white;
  text-align: center;

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "pDescrip uskill"
    "idid link";

}

 .pCard:hover {
  
  transform: scale(1.05);
  cursor: pointer;
}

.pTitle {
  font-size: 3.5em;
  text-align: center;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, .75);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.flip-card-back .pDescrip {
  padding: 2%;
  color: white;
  font-size: auto;
  grid-area: pDescrip;
  margin-bottom: 5%;
}

.flip-card-back .idid {
  padding: 2%;
  color: white;
  font-size: auto;
  grid-area: idid;
  margin-bottom: 5%;
}

.flip-card-back .skills {
  padding: 2%;
  color: white;
  font-size: 1.25em;
  grid-area: uskill;
}

.flip-card-back .link {
  padding: 2%;
  color: white;
  font-size: 1.5em;
  grid-area: link;
}

.flip-card-back span {
  padding: 2%;
  color: white;
  font-size: 1.5em;
  text-decoration: underline;
}

.p1 {
  grid-area: p1;
}

.p1 > .flip-card > .flip-card-front {
  background-image: url(../Images/Pictures/vr.png);
  background-size: contain;
}

.p2 {
  grid-area: p2;

}

.p2 > .flip-card > .flip-card-front {
  background-image: url(../Images/Pictures/valorant.gif);
  background-size: 150%;
}

.p3 {
  grid-area: p3;

}

.p3 > .flip-card > .flip-card-front {
  background-image: url(../Images/Pictures/dragonChamps.jpg);
  background-size: cover;
}

.p4 {
  grid-area: p4;
}

.p5 {
  grid-area: p5;
}

.p6 {
  grid-area: p6;
}

/*END PROJECTS PAGE*/

/*START CERTIFICATIONS PAGE*/

#certifications {
  height: 100vh;
  width: 100%;
  background-color: lightblue;
}

.certGrid {
  box-shadow: inset 0px 0px 50px -24px rgba(0,0,0,0.42);
  width: 100%;
  height: 100%;

  display: grid;
}

/*END CERTIFICATIONS PAGE*/


/*ANIMATION*/

.line-1{
    transition: all .75s ease-in-out;
    position: relative;
    top: 30%;  
    font-size: 7em;
    width: 16em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.line-2{
    color: rgb(56, 56, 56);
    position: relative;
    top: 30%;  
    font-size: 2em;
    width: 16em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.line-3{
  position: relative;
  top: 30%;  
  font-size: 1.25em;
  font-weight: 400;
  width: 80%;
  margin: 0 auto;
  /* border-right: 2px solid rgba(255,255,255,.75); */
  text-align: center;
}

.anim-typewriter{
    animation: typewriter 4s steps(44) 1s .475 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 16em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

  .anim-typewriter2{
    animation: typewriter2 3s steps(56) 1s 1 normal both,
               blinkTextCursor2 500ms steps(56) infinite normal;
  }
  @keyframes typewriter2{
    from{width: 0;}
    to{width: 18em;}
  }
  @keyframes blinkTextCursor2{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }



  @media screen and (max-width: 719px) {

    body {
      max-width: 100vw;
      contain: content;
      overflow: hidden;
    }

    .landingGrid {
      /* background-image: url(../Images/Backgrounds/Wave-16.7s-1920px.svg);
      background-size: cover; */
    
        width: 100%;
        height: 100%;
        justify-content: center;
        align-content: center;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        gap: 0em;
    }
    

    #landing {
      background-image: linear-gradient(white, lightgrey);
      background-size: cover;
      height: 60vh;
      width: 100%;
  }

    .name {
      width: 100%;
      text-align: center;
      font-size: .4em;
      grid-area: name;
      font-family: 'Changa One';
      color: black;
      margin-bottom: none;
      margin-top: 20%;
  }

  .description {
    font-size: 2em;
  }

  .line-3 {
    font-size: 2em;
    margin-top: .5em;
  }

  #about {
    background-image: linear-gradient(to top, white, lightgrey);
  
    height: 50vh;
    width: 100%;
  }
  
  .aboutGrid {
    background-image: url(../Images/Backgrounds/Wave-16.7s-1920px\ \(UpsideDown\).svg);
    background-size: cover;
  
    width: 100%;
    height: 100%;
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
      "selfPicture selfDescrip";
  }
  
  .selfPicture {
    transition: all ease-in-out .25s;
    grid-area: selfPicture;
    margin: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 19px -6px rgba(0,0,0,0.42);
  
    width: 33% !important;
    height: auto !important;
  }
  
  
  .selfDescrip {
    grid-area: selfDescrip;
    margin: auto;
  
    color: black;
    font-weight: 300;
    font-size: 1em;
    padding-right: 10%;
  }

  .skillsGrid {
    /* background-color: bisque; */
    box-shadow: inset 0px 0px 50px -24px rgba(0,0,0,0.42);
  
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
      "skill1" "skill2" "skill3";
  }


  #skills {
    background-image: linear-gradient(to top, rgb(32, 32, 32), rgb(44, 44, 44));
    height: auto;
    width: 100%;
}
#projects {
  display: flex;
   flex-direction: column;
  height: auto;
  width: 100%;
  background-color: rgb(24, 24, 24);
}

.projectsGrid {
position: relative;
box-shadow: inset 0px 0px 50px -24px rgba(0,0,0,0.42);

all: unset;
background-size: cover;
height: 90%;
width: 100%;
padding-top: 5%;
padding-bottom: 10%;

display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-template-areas: 
  "p1" "p2" "p3";
}

.pTitle {
  text-align: center;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, .75);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.flip-card-back .pDescrip {
  padding: 2%;
  color: white;
  font-size: .75em;
  grid-area: pDescrip;
  margin-bottom: 5%;
}

.flip-card-back .idid {
  padding: 2%;
  color: white;
  font-size: .75em;
  grid-area: idid;
  margin-bottom: 5%;
}

.flip-card-back .skills {
  padding: 2%;
  color: white;
  font-size: 1em;
  grid-area: uskill;
}

.flip-card-back .link {
  padding: 2%;
  color: white;
  font-size: 1em;
  grid-area: link;
}

.flip-card-back span {
  padding: 2%;
  color: white;
  font-size: 1em;
  text-decoration: underline;
}
}