@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

/*GENERAL CSS*/
html {
    scroll-behavior: smooth;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    overflow-x: hidden;
}

.clickablesvg {
    cursor: pointer;
    color: white;
    width: auto;
    height: 40%;
    margin: auto;
}

.clickablesvg > * > *{
    cursor: pointer;
    color: white;
    width: auto;
    height: 100%;
    margin: auto;
    filter: invert(1);
}


.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  .hidden {
    visibility: hidden;
  }

  .slide {
    transform: translateX(24.7vw);
    transition: .75s all ease;
  }

  .slideBack {
    transform: translateX(-24.7vw);
    transition: .75s all ease;
  }




/*START OF NAVIGATION*/

.navNormal {
    width: 100%;
    transition: all .5s ease-in-out;
    position: fixed;
    z-index: 1;
    height: 75px;
    font-size: .75em;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    background-color: #141414;
    color: white;
    padding: 0 10%;
}

.nav-section-2 {
    display: flex;
    flex-direction: row;
    gap: 4em;
}

.navNormal.navScroll { 
    background-color: white;
    box-shadow: 0px 3px 5px rgb(16, 108, 213);
}

.navElement {
    transform: translateX(0vw);
    transition: all .5s ease-in-out;
    color: white;
    text-align: center;
    margin: auto;
    font-size: 2em;
    font-family: 'Changa One';
}

.navElement.scrolled {
    transform: translateX(24vw);
    transition: all .5s ease-in-out;
    text-align: center;
    margin: auto;
    font-size: 2em;
    font-family: 'Changa One';
}

.navElement > a {
    text-decoration: none;
}

.inactiveNAV {
    color: white;
}

.activeNAV {
    color:rgb(16, 108, 213);
   
}

.activeNAV::after {
    transform: scaleX(1) !important;
}

.activeIMG {
    filter: invert(28%) sepia(100%) hue-rotate(320deg) saturate(6); 
}


.navElement > a::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color:rgb(16, 108, 213);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navElement > a:hover::after {
    transform: scaleX(1);
  }

.pfp {
    grid-area: icon;
    width: 75px;
    height: 75px;
    margin: 10px 0px 0px 10px;
}

.logo {
    transition: all .75s ease-in-out;
    margin: auto 0;
    grid-area: logo;
    height: 100%;
    width: auto;
    display: flex;
}

.logo > a {
    display: flex;
    width: 100%;
    height: 100%;
}

.logo > a > img {
    height: 60%;
    margin: auto;
    width: auto;
}

.navPort {
    grid-area: portfolio;
}

.navResume {
    grid-area: resume;
}

.navSkills {
    grid-area: skills;
}

.navCert {
    grid-area: cert;
}

.navName {
    text-decoration: none;
    font-size: 1.5em !important;
}

/*END OF NAVIGATION*/



/*ANIMATION*/

.tracking-in-expand {
    animation:tracking-in-expand .1s cubic-bezier(.215,.61,.355,1.000) .1s both
}

@keyframes tracking-in-expand { 
    0% {
        letter-spacing:-.5em;
        opacity:0
    }
    40% {
        opacity:.6
    }
    100% {
        opacity:1
    }

}



/*-------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 719px) {


     /* .navNormal {
        width: 100%;
        transition: all .5s ease-in-out;
        position: fixed;
        z-index: 1;
    

        font-size: .5em;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px;
        grid-template-areas: 
            "logo logo skills portfolio cert resume . .";
    }

    .pfp {
        grid-area: icon;
        width: 75px;
        height: 50px;
        margin: auto;
    } */




    .logo {
        height: 50%;
    } 

     .navElement {
        transform: translateX(0vw);
        transition: all .5s ease-in-out;
    
        text-align: center;
        margin: auto;
        font-size: .75em;
        font-family: 'Changa One';
    }
    /*
    .navElement.scrolled {
        transform: translateX(24vw);
        transition: all .5s ease-in-out;
    
        text-align: center;
        margin: auto;
        font-size: 1em;
        font-family: 'Changa One';
    }
     */
}